*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container{
    background-color: #eee;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    width: 500px;
}

.image-box{
    flex: 2;
}

.img{
    width: 170px;
    height: auto;
}

.close{
    margin-top: -20px;
    margin-left: -20px;
    background-color: #014A50;
    border-radius: 5px;
    width: 27px;
    height: 27px;
    display: flex;
}