*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:#ccc;  /* core de fundo para o orpo principal*/
}

/*
boot Css
*/
.center{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 2%;
}

.flex{display: flex;}

.align-flex-center{
    justify-content: center;
    align-items: center;
}

.align-flex-end{
    justify-content: flex-end;
    align-items: flex-end;
}

/* Fim do Boot Css*/

header{
    
    background-color: #131921;
    color: white;
    padding: 10px 0;
}

.logo img{
    width: 100px;
}
.logo img{
    transition:ease 2ms;
    cursor: pointer;
}
.logo img:hover{
    border-radius:5px;
    outline: 1px solid rgb(55, 0, 255);
}
.logo{
    padding:0 9px;
}

.input-search {
    padding:0 10px;
   width: 70%;
   display: flex;
}

.input-search form{
    display: flex;
    width: 100%;
}
.input-search input[type=text]{
    width: calc(100% - 40px);
    height: 40px;
}

.input-search button{
    width: 40px;
    border: 0;
    height: 40px;
    background-color: #febd68;
}

.text-info-header{
    height: 20px;
    font-size: 12px;
    margin:8px 0;
    padding:0 20px;
    cursor: pointer;
}

.text-info-header:hover{
    border-radius:5px;
    outline: 1px solid white;
}
.text-info-header p{
    white-space:nowrap;
}

/* Baner Principal */
.vitrine {
    min-height: 600px;
    width: 100%;
    background-image:url('/img/Paulino3.jpg') ;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box-vitrine{
    position: relative;
    top:-2px;
    width: 24%;
    background-color: white;
    padding: 8px 12px;
}
.box-vitrine a{
 color: #069;
font-size: 13px;
}

.box-vitrine img{
    width: 100%;
}

/* Segunda Secção */
.bloco{
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 2%;
}

.divisao {
    min-height: 600px;
    width: 100%;
    background-image:url('/img/image_6.jpg') ;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.imagem{
    position: relative;
    top:-2px;
    width: 24%;
    background-color: white;
    padding: 8px 12px;
}

.imagem a{
    color: #069;
   font-size: 13px;
   }
   
   .imagem img{
       width: 100%;
   }

   .sobre{
    height: 200px;
    background-color: black;
   }


