*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2px 50px;
    
}

.principal{
    border-radius:7px;
    border: 2px solid red;
    height:80px;
    width: 100%;
    background-color: grey;
}

.principal h1{
    justify-content: center;
    text-align: center;
    color:blue;   
}
/* Carrinho */
.principal i{
   margin:-100px 95%;
   color: white;
}



/* Fim Do carrinho */
h1{
    justify-content: center;
    text-align: center;
}

#root{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #4bb7e1;
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-height: 90%;
    max-width: 90%;
    object-fit: center;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;
}
button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #4bb7e1;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}

/*  terceira parte do js*/
#btns{
    display: flex;
    justify-content: center;
}

#btns>button{
   border: 1px solid #4bb7e1;
   background: none;
   color: #4bb7e1;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 20px;
   margin: 40px 5px;
}

#btns>button:hover{
    background: #4bb7e1;
    color: white;
}