*{
    
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32cd9c;
}

.container{
    width: 350px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
